* {
	box-sizing: border-box;
}

body{
	margin: 0px 35px;
	padding: 0;
	font-family: 'Muli', sans-serif;
	-webkit-appearance: none;

}

#formob {
	display: none;
}

.nav input, label {
		display: none;
	}
/*header {
	display: block;
	padding: 15px 0px 0px 0px;
	background-color: white;
	position: fixed;
	right: 35px;
	left: 35px;
	width: inherit;
	margin: 0;
	z-index: 1;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 8px;
}
*/

ul {
	background-color: white;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0px 0px;
	position:fixed;
	right: 35px;
	left: 35px;
	z-index: 1;
    overflow: hidden;
}

li {
	display: inline-block;
	text-align: center;
}

li a {
	display: block;
	padding: 25px;
	margin: 0px 10px;
	text-decoration: none;
	font-size: 11px;
	color:black;
	font-weight: 600;
	letter-spacing: 3px;
}

#center {
	padding:13px 100px; 
	font-size: 25px;
	font-weight: 900;
	letter-spacing: 8px;
}

li a:hover {
	background-color: lightgrey;
}

li a[id="center"]:hover {
	background: none;
}

.active {
	border-bottom: 4px solid black;
}

#home{
	margin-top: 50px;
	width: 100%;
	height: auto;
}

#main {
	width: 100%;
}

h2{
	font-weight: 900;
	font-size: 16px;
	margin: auto;
	padding: 35px 0px; 
	letter-spacing: 3px;
	text-align: center;
	position: relative;
}

hr {
	display: inline-block;
	margin: 0px 5px 0px 0px;
	height: 3px;
	vertical-align: middle;
	background-color: black;
	width: 120px;
}

.flex-container {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Chrome, new Safari */
	display:flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-flex-flow:row wrap;
	justify-content: space-between;
	align-content: stretch;
	margin: 0 -10px;
}

.flex-item {
	margin: 0 10px 35px;
	position: relative;
	width: 370px;
	flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
}

.flex-item img {
	width: 100%;
	height: 100%;
}

.flex-item p{
	position: absolute;
	font-size: 35px; 
	font-weight: 900;
	margin: auto;
	padding-top: 140px;
	text-align: center;
	color: white;
	opacity: 0;
	top: 0px;
	width: 100%;
	height: 100%;
}

.flex-item:hover p {
	opacity: 1;
	transition: opacity 0.5s;
	background:rgba(0,0,0,0.4);
}

.flex-item span {
	font-size: 18px;
	font-weight: 600;
}

#about {
	background-color: #dff9ef;
	height: auto;
	padding-bottom: 30px;
}

#about p {
	font-weight: 900;
	font-size: 46px;
	letter-spacing: 1px;
	line-height: 70px;
	text-align: center;
	height: 400px;
	width: auto;
	margin:auto;
	padding: 70px 80px 0px;
}

#about a{
	text-decoration: none;
	display: block;
	padding: 15px;
	width: 175px;
	margin: auto;
	font-size: 14px;
	font-weight: 600;
	color: black;
	text-align: center;
	letter-spacing: 1px;
	border: 3px solid black;
}

#about a:focus, #about a:active, #about a:hover {
	outline: none;
	-webkit-outline:none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#contact {
	padding: 45px 0px;
	height: auto;
}

.block {
	display: inline-block;
	float: left;
	width: 50%;
	font-size: 16px;
	font-weight: 200;
	padding: 120px 40px 0px 110px ;
}

.block span {
	font-size: 45px;
	font-weight: 900;
	letter-spacing: 1px;
}

.block p {
	padding-bottom: 25px;
}

.tel {
	display: inline-block;
}

#iconsContact img{
	background-color: rgba(255,200,185,0.8);
	border-radius: 50%;
	padding: 10px;
	margin: 30px 15px 0px 0px;
}

#rightpart {
	height: 700px;
	background-color: rgba(255,200,185,0.8);
	font-weight: 600;
	margin-top: -100px;
}

#rightpart p {
	margin-top: 140px;
}

::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;} 

:focus::-webkit-input-placeholder {color: black}
:focus::-moz-placeholder          {color: black}
:focus:-moz-placeholder           {color: black}
:focus:-ms-input-placeholder      {color: black}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder 
{opacity: 0; transition: opacity 0.4s ease;}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder
{opacity: 0; transition: opacity 0.4s ease;}
input:hover:-moz-placeholder, textarea:hover:-moz-placeholder
{opacity: 0; transition: opacity 0.4s ease;}
input:hover:-ms-input-placeholder, textarea:hover:-ms-placeholder
{opacity: 0; transition: opacity 0.4s ease;}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
{opacity: 1; transition: opacity 0.4s ease;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder         
{opacity: 1; transition: opacity 0.4s ease;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder       
{opacity: 1; transition: opacity 0.4s ease;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-placeholder    
{opacity: 1; transition: opacity 0.4s ease;}

input[type="text"]{
	width: 70%;
	padding: 20px 0px;
	border: none;
	border-bottom: 2px solid white;
	background-color: rgba(255,200,185,0.01);
	font-size: 16px;
	font-weight: 600;
}

input[type="email"]{
	width: 70%;
	padding: 20px 0px;
	border: none;
	border-bottom: 2px solid white;
	background-color: rgba(255,200,185,0.01);
	font-size: 16px;
	font-weight: 600;
}

textarea{
	width: 70%;
	border: none;
	border-bottom: 2px solid white;
	background-color: rgba(255,200,185,0.01);
	font-size: 16px;
	font-weight: 600;
	padding: 20px 0px 0px;
	height: 100px;
	text-align: justify;
	overflow-wrap: break-word;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	border-color: black;
	outline:none;
	color: black;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
	border-color: black;
	outline:none;
}

button[type="submit"] {
	-webkit-appearance: none;
	background-color: rgba(255,200,185,0.01);
	margin: 40px 0px; 
	border: 3px solid white;
	color: white;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 10px 35px;
}

button[type="submit"]:hover, button[type="submit"]:active, button[type="submit"]:focus {
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#button {
	clear: both;
	padding: 8px 0px 30px;
	margin-top: 20px;
	width: 100%;
}

#up {
	display: block;
	margin: auto;
	cursor: pointer;
	border:none;
	background-color: white;
}

#up a{
	text-decoration: none;
}

footer {
	background-color: black; 
	padding: 40px 0px;
	margin: 0px -35px;
	clear: both;

}
.icons {
	text-align: center;
	padding: 15px 0px 0px 0px;
}

footer div img {
	margin: 0px 5px;
}

footer div p {
	color: white;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
}

footer a {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	li a {
		margin: 0px;
	}

	#center {
		padding:10px 35px; 
	}

	#about p {
		font-size: 40px;
	}

	#contact {
		padding: 45px 0px 20px;
}

	.block {
		padding: 60px 20px 0px 55px ;
	}

	.block span {
		font-size: 30px;
	}

	#rightpart {
		height: 600px;
	}

	#rightpart p {
		margin-top: 130px;
	}
}

@media screen and (max-width: 767px) {
	body {
		margin: 0px 15px;
	}

	footer {
		margin: -15px;
	}

/*navbar*/

	.nav input {
		display: none;
	}

	label {
		cursor: pointer;
	}

	nav {
		user-select: none;
	}

	#formob {
		display: inline-block;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		padding: 18px;
		margin: auto;
		text-align: center;
		font-size: 25px;
		font-weight: 900;
		letter-spacing: 8px;
		background-color: white;			
		z-index: 1;
	}

	.active {
		border: none;
	}

	nav .showmenu {
		position: fixed;
		right: 20px;
		z-index: 3;
		display: inline-block;
		top: 18px;
		font-size: 25px;
		margin-right: -10px;
	}	

	nav .back {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transition: background-color .3s;
		z-index: 3;

	}

	nav ul {
		list-style: none;
		padding: 0px;
		color: #fff;
		overflow: hidden;
		z-index: 2;
	}

	#center {
		display: none;
	}

	nav>ul {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		display: block;
		width: 100%;
		margin: 0px;
		padding: 20px 0px 0px;
		overflow-y: auto;
		-webkit-overflow-scrolling:touch;
		transform: translateX(100%);
		transition: transform .3s;
		will-change: transform;
		backface-visibility: hidden;
	}

	#showmenu:checked~.back {
		background-color: rgba(0,0,0,.2);
		bottom: 0;
	}

	nav a:hover, nav .showmenu:hover, nav ul label:hover {opacity: 0.7;}
	nav>ul::-webkit-scrollbar {display: none;}
	nav ul input:checked+label {transform: rotate(180deg);}
	#showmenu:checked~ul {transform: translateX(0);}

	li {
		display: block;
	}

	li a {
		padding: 10px;
		margin: 0px;
	}

	#home {
		margin-top: 50px;
	}

	#main {
		width: 100%;
	}

	#about p {
		font-size: 25px;
		padding: 10px 20px 30px;
		line-height: 50px;
		height: auto;
	}

	.flex-container {
		justify-content: space-around;
	}

	.block {
		display: block;
		clear: both;
		width: 100%;	
		padding: 0px 20px 0px 30px ;
	}
	 .block p {
		padding-bottom: 5px;
	}

	.block span {
		font-size: 25px;
	}

	#iconsContact img{
		margin: 10px 15px 0px 0px;
	}

	#contact h2{
		padding-top: 0px;
	}

	#rightpart {
		height: auto;
		font-weight: 600;
		margin-top: 20px;
		padding: 30px 20px;
	}

	#rightpart p {
		margin: 30px 35px 10px;
	}

	input[type="text"], input[type="email"], textarea {
		width: 90%;
	}

	#form {
		text-align: center;
	}

	button[type="submit"] {
		margin: 20px auto 0px;
	}

@media screen and (max-width: 767px) and (orientation:landscape) {
	.flex-item {
	margin: 0 10px 35px;
	position: relative;
	width: 40%;
	flex: 0 1 auto;
	-webkit-box-flex: 0 1 auto;
	-moz-box-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
}
}






