li {
	display: inline-block;
}

img.ordinary {
	height: 60px;
}

li a {
	display: block;
	padding: 25px;
	margin: 0px 10px;
	font-size: 11px;
	color:black;
	letter-spacing: 3px;
}

.start {
	float: left;
	width: 50%;
	height: 600px;
}

.home {
	background: url(imgs/home_left1.jpg) no-repeat center;
	background-size: cover;
}

.right {
	background-color: rgba(255,153,0,.75);
}
